{% extends 'base.html' %}

{% block title %}Article::Detail{% endblock title %}

{% block container %}
<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>
<p>작성자: {{ article.user }}</p>
<a href="{% url 'articles:like' article.pk %}">
  {% if user in article.liked_users.all %}
  <i class="fas fa-heart fa-lg" style="color: red"></i>
  {% else %}
  <i class="far fa-heart fa-lg" style="color: red"></i>
  {% endif %}
</a>
<span>{{ article.liked_users.all | length }}명이 이 글을 좋아합니다.</span>
<hr>
<p>{{ article.content }}</p>
<hr>
{% if article.user == request.user %}
<a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
<form action="{% url 'articles:delete' article.pk %}" method="post">
  {% csrf_token %}
  <button type="submit">삭제하기</button>
</form>
<hr>
{% endif %}
<h3>Comments</h3>
{% if user.is_authenticated %}
<form action="{% url 'articles:comments_create' article.pk %}" method="post">
  {% csrf_token %}
  {{ comment_form.as_table }}
  <button type="submit">작성하기</button>
</form>
{% endif %}
<hr>
<ul>
{% for comment in comments %}
  <li>
    {% if request.user == comment.user %}
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="post">
      {% csrf_token %}
      <span>{{ comment.content }} - {{ comment.created_at }} / {{ comment.user }}</span>
      <button class="btn btn-danger" type="submit">삭제하기</button>
    </form>
    {% else %}
    <span>{{ comment.content }} - {{ comment.created_at }} / {{ comment.user }}</span>
    {% endif %}
  </li>
{% endfor %}
</ul>

{% include 'articles/_follow.html' %}

{% endblock container %}